<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>Controller.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerController</servlet-name>
        <servlet-class>Controller.OwnerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantController</servlet-name>
        <servlet-class>Controller.RestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>Controller.SettingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/UsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerController</servlet-name>
        <url-pattern>/OwnerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantController</servlet-name>
        <url-pattern>/RestaurantController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>View/Home_GUI/Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/SettingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
